﻿@model OrderContext
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Order details</h1>

    <div >
        <span>Order number: @Model.Id</span>
        <ul class="list-group">
        @{
            foreach(var a in Model.Items)
            {
                <li class="list-group-item">@a.Description - $@a.Price</li>
            }
        }
        <li class="list-group-item list-group-item-info">Total: $@Model.Items.Select(x => x.Price).Sum()</li>
        </ul>
    </div> 
    <div id ="reacted"></div>

</div>

<script crossorigin src="~/lib/react/react.development.js"></script>
<script crossorigin src="~/lib/react/react-dom.development.js"></script>
<script src="~/js/app.js"></script>
<script>
    

    ReactDOM.render(
        React.createElement('div',null, [
            React.createElement('h3',null,'Handlers of order'),
            React.createElement(HandlerList, { handlers : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Handlers)) }, null)
        ]),
        document.getElementById('reacted')
    );
</script>