<div id="root"></div>
<script src="~/lib/react/react.development.js"></script>
<script src="~/lib/react/react-dom.development.js"></script>
<script src="~/lib/babel/browser.min.js"></script>
<script src="~/lib/axios/dist/axios.min.js"></script>
<script type="text/babel">

const url = '@Url.Action("AddEmployeeAsync")',
  getRolesUrl = '@Url.Action("GetAllRolesAsync")';

class App extends React.Component{

  constructor(props) {
    super(props);

    this.state = {
      bodyTemperature : 0,
      isFever : false,
      isBodyTempFormatCorrect : true,
      traveledAbroad: false,
      employeename: '',
      success: false,
      allRoles : [],
      roleSelected : 1
    };
  }
  
  componentDidMount(){
    axios.get(getRolesUrl, { headers: { accept: 'application/json' }})
    .then( x => this.setState({ allRoles : x.data }) );
  }

  updateBodyTemp(event){
    this.state.bodyTemperature = event.target.value;
    this.setState({isBodyTempFormatCorrect: !isNaN(this.state.bodyTemperature) && this.state.bodyTemperature > 0 && this.state.bodyTemperature <199 && this.state.bodyTemperature > 30  }, ()=>
      this.setState({isFever : this.state.isBodyTempFormatCorrect  && this.state.bodyTemperature >= 100.4})
    );
  }

  updateEmployeeName(event){
    console.log(event.target);
    this.SetState({employeename: event.target.value});
  }

  handleClick(){
    const names = this.state.employeename.split(',');
    console.log(names);
    axios.post(url, {
      bodyTemperature: this.state.bodyTemperature,
      traveledAbroadInLast14Days: this.state.traveledAbroad,
      firstName : names[1],
      lastName : names[0],
      role : { roleId : this.state.roleSelected }
    }).then(()=>{
      this.setState({success: true});
    });
  }

  handleChange(e){
    this.setState({ roleSelected : e.target.value });
  }

  render(){ 
    return(
    <div className="App">
      <header className="App-header">
        <h2 style={{padding:'2px'}}>
          Enter Employee Information
        </h2>
        <div className ="alert alert-success" role="alert" style={{display: this.state.success ? 'block':'none' }}>
          Processed!
        </div>
        <div style={{padding:'2px'}}>
          <label htmlFor="employeename">Employee Name: </label>
          <div>
            <input className="form-control" name="employeename" value={this.state.employeename}
              onChange={ e => this.setState({ employeename : e.target.value}) } 
              placeholder='Last name,Firs name' />
          </div>
          <label htmlFor="role">Role: </label>      
          <select className="form-control" name="role" style={{padding:'2px'}} onChange={this.handleChange.bind(this)} >
            {
              this.state.allRoles.map(x => <option value={x.roleId} key={x.roleId} value={x.roleId}>{x.description}</option>)
            }
          </select>
          <div>
            <label htmlFor="traveled">Traveled abroad?</label>
          </div>
          <fieldset>
            <div>
              <select className='form-control' value={this.state.traveledAbroad} onChange={e => this.setState({traveledAbroad: e.target.value})} >
                <option value={true}>Yes</option>
                <option value={false}>No</option>
              </select>
            </div>
          </fieldset>


          <div>Body temperature</div>
          <div className='input-group'>
            
            <input 
              value={this.state.bodyTemperature} onChange={this.updateBodyTemp.bind(this)}
              style={{borderColor: this.state.isFever || !this.state.isBodyTempFormatCorrect ? 'red' : 'green' }}
              className="form-control" name='bodyTemperature' placeholder='body temperature'  />
            <div className="input-group-append">
              <span className="input-group-text">° F</span>
            </div>
            <div style={{color: this.state.isFever || !this.state.isBodyTempFormatCorrect ? 'red' : 'green' }}>{
                this.state.isFever ? 'You have a fever. Please quarantine' :
                  (this.state.isBodyTempFormatCorrect) ? '' : 'Temperature format incorrect'
              }</div>
            </div>
            <div>
                <a href='https://medlineplus.gov/ency/article/003400.htm' target='_blank'>How to take body temperature</a>
            </div>
          <div>
              <input id="submitbutton" type="button" onClick={this.handleClick.bind(this)}
                className="btn btn-primary form-control"  value="Submit"/>
          </div>
        </div>     
      </header>    
    </div>);
  }
}

ReactDOM.render(<App />, document.getElementById('root'));
</script>